.chat-container{
  height: calc(100vh - 110px);
  display: flex;
}

.chat-conversations{
  flex: 3;
}

.chat-area{
  flex: 6;
}

.users-block{
flex: 3;
}

.users-list{
  text-align: center;
}

.chat-conversations__wrapper,.chat-area__wrapper
, .chat-users__wrapper
{
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input{
border: none;
margin-bottom: 20px;
border-bottom: 1px solid gray;
background-color: inherit;
}

.chat-area__wrapper{
  display: flex;
  flex-direction: column;
}

.chat-area__top{
  height: 100%;
  overflow-y: scroll;
  flex: 11;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.chat-area__bottom{
  flex: 1;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-area__input{
  width: 85%;
  font-style: italic;
  margin-bottom: 0;
}

.chat-area__button{
background-color: rgb(12, 39, 67);
border-color: inherit;
}

